<form id="form-create-user" role="create-user">
  <!--área do formulário-->
  <div class="panel-heading">Criar Usuário</div>
  <div class="form-group">
    <input type="text" id="username" name="username" class="form-control " placeholder="Digite seu Username">
  </div>
  <div class="form-group">
    <input type="email" id="email" name="email" class="form-control" required placeholder="Digite seu email">
  </div>
  <div class="form-group">
    <input type="password" id="password" name="password" class="form-control" required placeholder="Digite sua senha">
  </div>
  <!--área do botão-->
  <div class="form-group">
    <a href="/login" class="btn btn-default">login</a>
    <button id="submit"  type="submit" class="btn btn-primary">Criar Conta</button>
  </div>
</form>
