<%-layout('layout') %>
<section class="container">
  <div class="row">
    <div class="col-md-4 col-md-offset-4 ">
      <section role="login" class="panel panel-default panel-login">
        <div class="panel-body">
          <%-partial('partials/formcreateuser')%>
        </div>
      </section>
    </div>
  </div>
</section>
