<%-layout('layout') %>
<h1>Hello Word</h1>
<!-- o java script (jquery)esta criando automaticamente -->
<div class="content"></div>
<h1 class="text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veniam minima amet nesciunt eaque iusto, fuga doloribus suscipit reiciendis! Mollitia, dolorum?</h1>
<h1 class="text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veniam minima amet nesciunt eaque iusto, fuga doloribus suscipit reiciendis! Mollitia, dolorum?</h1>

<button id="left" class="btn btn-default">&laquo;</button>
<button id="right" class="btn btn-default">&raquo;</button>

<div class="cube" style="position:relative; height:50px; width:50px; background-color:#09f;"></div>
