<!DOCTYPE html>
<html lang="en">
<%- partial('partials/head') %>
<body>
   <!--{{> yield}}-->
   <!-- todo o nosso conteúdo vai ser carregado dinâmicamente -->
    <%- body %>
    <%- partial('partials/footer') %>
</body>
</html>
